body {
}
.header {
    width:100%;
    height:80px;
    background-color:white;
    border-bottom:1px solid Green;
}
#logo
{
    float:left;
    width:140px;
    height:60px;
   margin-left:40px;
}
.header h1{
    font-family:'Times New Roman';
    color:orange;
    margin-left:215px;
    padding-top:10px;
}

.left{
	width:230px;
	height:500px;
	margin-left:0px;
	border-right:1px solid green;
    float:left;
	}
.left ul li{
	margin:0px;
	padding:10px;
	background:white;
	border-bottom:1px dashed #FFFFFF;
	position:relative;

	}
.left ul{
    margin-left:-10px;
}
.left ul li:hover ul{
	display:block;
}
.left ul li:hover{
	background:orange;
	cursor:pointer;
}
a {
    text-decoration: none;
    color: #222222;
    font-family: 'Times New Roman';
}
<<<<<<< HEAD
li {
    list-style: none;
    border-bottom: 1px solid green;
=======
li{
    list-style:none;
>>>>>>> 35f6d03bc7f06172b8af71df9c94ab590bedeb34
}
.footer{
    width:100%;
    height:50px;
    background-color:#333333;
    clear:both;
}
.main{
    height:500px;
    width:100%;
}
.right{
    height:500px;
    width: 100%;
}
.footer p {
    color:white;
   padding-top:17px;
   text-align:center;
}
.tableRegis{
    border: 1px solid green;
    margin-top:20px;
    margin-left:250px;
}
.TitleRegis {   
    margin-top: 20px;
    margin-left: 250px;
}

