<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Layout.css")
    

</head>
<body>
    
   <div class="header">
       <img id="logo" src="~/Content/IMG/logo.png" /><h1>Trang Admin-Hoàng Việt Travel</h1> 
   </div>
   <div class="main">
       <div class="left">
           <ul>
               <li><a href="">Quản lý tour</a></li>
               <li><a href="">Quản lý lịch đặt tour</a></li>
               <li><a href="">Quản lý địa điểm</a></li>
           </ul>
       </div>
       <div class="right">
           @RenderBody()
       </div>
   </div>
   <div class="footer">
       <p style="color:white">Cở sở kinh doanh: 93, Hồng Hà, Ba Đình, Hà Nội--------
       Email: hongviettralvel@gmail.com--------
      Phone: 0968686868</p>
   </div>
</body>
</html>
