
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    @Styles.Render("~/Content/Layout.css")
</head>
<body>
    <div> 
        <div class="header"></div>
        
    </div>
</body>
</html>
